.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/hero.jpg');
    background-position:center;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100% ; 
    text-align: center;
    color:aliceblue;


}
.hero-text h2{
   white-space: normal; 

}
.hero-text p{
line-height: 1.4;
max-width: 700px;
margin: 10px auto 20px;
}
.btn{
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 25 px;
    cursor: pointer;
    transition:  all 0.3s ease;
}
.btn:hover{
    background-color: burlywood;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 10px burlywood;
}